Repository alxurb1/Alexis-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint

feat: adding husky configuration
  .husky/pre-commit
Due: none

fix: modifying .lint file errors
  .lintstagedrc
Due: none

fix: installing markdown on node modules
  package-lock.json
  package.json
Due: none

fix: chaging pre-cmmit file content to avoid possible issues
  .husky/pre-commit
Due: none

fix: deleting extra files from repository
  Structure.md
Due: markdownlint

docs(git): adding a reflection of git Hooks implementation
  issues/4.Clean-Code/issue#36/assets/1.png
  issues/4.Clean-Code/issue#36/assets/2.png
  issues/4.Clean-Code/issue#36/assets/3.png
  issues/4.Clean-Code/issue#36/assets/4.png
  issues/4.Clean-Code/issue#36/ci_cd_reflection.md
Due: markdownlint

fix: solving CI.yml file problems
  .github/workflows/CI.yml
Due: none

docs(git): adding a reflection of git Hooks implementation
  issues/4.Clean-Code/issue#36/ci_cd_reflection.md
Due: markdownlint

fix: fixing Realme.md issue
  README.md
Due: markdownlint

fix: adding libraries to package.json
  package-lock.json
  package.json
Due: none

fix: adding eslint configuration file
  eslint.config.js
Due: eslint

fix: adding type moduele package.json
  package.json
Due: none

docs(git): adding a reflection and testing section on avoiding code smells (Issue #37)
  issues/4.Clean-Code/issue#37/code-smells-corrections.js
  issues/4.Clean-Code/issue#37/code-smells-examples.js
  issues/4.Clean-Code/issue#37/code-smells.md
Due: eslint, markdownlint

Delete issues/4.Clean-Code/issue#36/ci_cd_reflection.md
  issues/4.Clean-Code/issue#36/ci_cd_reflection.md
Due: markdownlint

docs(git): adding a reflection on handling errors importance and examples (Issue #39)
  issues/4.Clean-Code/issue#38/clean_code.md
  issues/4.Clean-Code/issue#38/error_file.js
  issues/4.Clean-Code/issue#38/refactored_file.js
Due: eslint, markdownlint

fix: modifying .md file
  git_knowledge.md
Due: markdownlint

fix: deleting disorganized git_knowledge.md file
  git_knowledge.md
Due: markdownlint

Delete git_knowledge.md
  git_knowledge.md
Due: markdownlint

fix: changing folder name to issue#38 to issue#39
  issues/4.Clean-Code/issue#39/clean_code.md
  issues/4.Clean-Code/issue#39/error_file.js
  issues/4.Clean-Code/issue#39/refactored_file.js
Due: eslint, markdownlint

docs(git): adding a reflection on unit testing importance on code developing
  issues/4.Clean-Code/issue#38/clean_code.md
  issues/4.Clean-Code/issue#38/math.js
  issues/4.Clean-Code/issue#38/math.test.js
Due: eslint, markdownlint

docs(git): adding a reflection on code simplicity importance and an example file (Issue #41)
  issues/4.Clean-Code/issue#41/clean_code.md
  issues/4.Clean-Code/issue#41/complicated_file.js
  issues/4.Clean-Code/issue#41/refactored_file.js
Due: eslint, markdownlint

docs(git): adding a reflection on good comments practices and file examples (Issue #40)
  issues/4.Clean-Code/issue#40/clean_code.md
  issues/4.Clean-Code/issue#40/good_comments.js
  issues/4.Clean-Code/issue#40/poorly_comments.js
Due: eslint, markdownlint

docs(git): adding a reflection on functions proper order and some example files (Issue #43)
  issues/4.Clean-Code/issue#43/clean_code.md
  issues/4.Clean-Code/issue#43/longFunction.js
  issues/4.Clean-Code/issue#43/refactoredFunction.js
Due: eslint, markdownlint

docs(git): adding a reflection on the importance of avoiding code duplication and file examples (Issue #42)
  issues/4.Clean-Code/issue#42/clean_code.md
  issues/4.Clean-Code/issue#42/duplicated_code.js
  issues/4.Clean-Code/issue#42/refactored_code.js
Due: eslint, markdownlint

docs(git): adding a reflection on the importance of using clear variables name (Issue #44)
  issues/4.Clean-Code/issue#44/clean_code.md
  issues/4.Clean-Code/issue#44/refactoredFile.js
  issues/4.Clean-Code/issue#44/unclearVariableNames.js
Due: eslint, markdownlint

docs(git): summarized clean code principles and applied them on some example files (Issue #46)
  issues/4.Clean-Code/issue#46/clean_code.md
  issues/4.Clean-Code/issue#46/messyFile.js
  issues/4.Clean-Code/issue#46/refactoredFile.js
Due: eslint, markdownlint

docs (git): adding eslint and prettier to repository config and adding a reflection on the usage advantages.
  .prettierignore
  .prettierrc
  eslint.config.js
  issues/4.Clean-Code/issue#45/clean_code.md
  package-lock.json
  package.json
Due: eslint, markdownlint

docs (git): adding a react project with tailwind css and adding a reflection and README file.
  eslint.config.js
  issues/5.React-Fundamentals/issue-32/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/.gitignore
  issues/5.React-Fundamentals/react-project/README.md
  issues/5.React-Fundamentals/react-project/eslint.config.js
  issues/5.React-Fundamentals/react-project/index.html
  issues/5.React-Fundamentals/react-project/package-lock.json
  issues/5.React-Fundamentals/react-project/package.json
  issues/5.React-Fundamentals/react-project/public/vite.svg
  issues/5.React-Fundamentals/react-project/src/App.css
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/assets/react.svg
  issues/5.React-Fundamentals/react-project/src/index.css
  issues/5.React-Fundamentals/react-project/src/main.jsx
  issues/5.React-Fundamentals/react-project/vite.config.js
Due: eslint, markdownlint

docs(git): using routes and navigation tools and adding a reflection on client-side routing advantages
  issues/5.React-Fundamentals/issue-25/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/package-lock.json
  issues/5.React-Fundamentals/react-project/package.json
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/main.jsx
  issues/5.React-Fundamentals/react-project/src/pages/Home.jsx
  issues/5.React-Fundamentals/react-project/src/pages/Profile.jsx
Due: eslint, markdownlint

docs(git): adding a component example with some name parameters and a .md file with a reflection
  issues/5.React-Fundamentals/issue-31/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/components/HelloWord.jsx
  package-lock.json
Due: eslint, markdownlint

docs(git): adding a counter component usign useState to manage count value and adding a reflection .md file
  issues/5.React-Fundamentals/issue-30/assets/1.png
  issues/5.React-Fundamentals/issue-30/assets/2.png
  issues/5.React-Fundamentals/issue-30/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/components/Counter.jsx
  issues/5.React-Fundamentals/react-project/src/components/HelloWorld.jsx
  issues/5.React-Fundamentals/react-project/src/pages/CounterPage.jsx
  issues/5.React-Fundamentals/react-project/src/pages/HelloWordPage.jsx
  issues/5.React-Fundamentals/react-project/src/pages/Home.jsx
  issues/5.React-Fundamentals/react-project/src/pages/Profile.jsx
Due: eslint, markdownlint

docs(git): implementing lists and user input on a short project and addign a reflection on common usage mistakes
  issues/5.React-Fundamentals/issue-28/assets/image.png
  issues/5.React-Fundamentals/issue-28/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/pages/UserInputPage.jsx
Due: eslint, markdownlint

docs(git): implementing useEffect hooks and adding a .md file reflection
  issues/5.React-Fundamentals/issue-24/assets/image.png
  issues/5.React-Fundamentals/issue-24/react_fundamentals.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/components/EffectComponent.jsx
  issues/5.React-Fundamentals/react-project/src/pages/UseEffectPage.jsx
Due: eslint, markdownlint

docs(git): adding useMemo hook implementation and a .md file with a reflection on it's usage
  issues/5.React-Fundamentals/issue-23/assets/image.png
  issues/5.React-Fundamentals/issue-23/react_hooks.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/components/MemoOptimizing.jsx
  issues/5.React-Fundamentals/react-project/src/pages/MemoOptimizingPage.jsx
Due: eslint, markdownlint

fix: solving .md file issues
  issues/5.React-Fundamentals/issue-23/react_hooks.md
Due: markdownlint

docs(git): implementing Formik Forms Handling and error validations
  issues/5.React-Fundamentals/issue-21/assets/1.png
  issues/5.React-Fundamentals/issue-21/assets/2.png
  issues/5.React-Fundamentals/issue-21/assets/3.png
  issues/5.React-Fundamentals/issue-21/form_handling.md
  issues/5.React-Fundamentals/react-project/package-lock.json
  issues/5.React-Fundamentals/react-project/package.json
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/pages/FormikPage.jsx
Due: eslint, markdownlint

docs
  issues/5.React-Fundamentals/issue-22/assets/1.png
  issues/5.React-Fundamentals/issue-22/assets/2.png
  issues/5.React-Fundamentals/issue-22/assets/3.png
  issues/5.React-Fundamentals/issue-22/react_hooks.md
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/pages/CallbackPage.jsx
Due: eslint, markdownlint

docs(git): implementing language handling with i18next and adding some .md file as a reflection
  .prettierrc
  issues/5.React-Fundamentals/issue-20/assets/1.png
  issues/5.React-Fundamentals/issue-20/assets/2.png
  issues/5.React-Fundamentals/issue-20/i18n.md
  issues/5.React-Fundamentals/react-project/package-lock.json
  issues/5.React-Fundamentals/react-project/package.json
  issues/5.React-Fundamentals/react-project/public/locales/en/translation.json
  issues/5.React-Fundamentals/react-project/public/locales/es/translation.json
  issues/5.React-Fundamentals/react-project/src/App.jsx
  issues/5.React-Fundamentals/react-project/src/config/i18n.js
  issues/5.React-Fundamentals/react-project/src/main.jsx
  issues/5.React-Fundamentals/react-project/src/pages/I18nextImplementation.jsx
Due: eslint, markdownlint

docs(git): adding Axios config to make a post, get request to an API and .md file with reflections
  issues/5.React-Fundamentals/issue-15/api_calls.md
  issues/5.React-Fundamentals/issue-15/assets/1.png
  issues/5.React-Fundamentals/issue-15/assets/2.png
  issues/5.React-Fundamentals/issue-15/assets/3.png
  issues/5.React-Fundamentals/issue-15/assets/4.png
  issues/5.React-Fundamentals/react-project/package-lock.json
  issues/5.React-Fundamentals/react-project/package.json
  issues/5.React-Fundamentals/react-project/src/components/ApiCall.jsx
  issues/5.React-Fundamentals/react-project/src/pages/Home.jsx
  issues/5.React-Fundamentals/react-project/src/services/api.js
Due: eslint, markdownlint

Path conditions:
  eslint: any of: **/*.{js,jsx}
  markdownlint: any of: *.md
